#branding {
	text-align: center;
}

#site-title {
	font-size: 3em;
	padding-top: 45px;
	margin: 45px auto 0;
	text-transform: uppercase;
}
.custom-header-image #site-title {
	padding-top: 105px;
}

#site-title a {
	text-decoration: none;
}
#site-title a:hover {
	text-decoration: underline;
}

#site-description {
	color: #999;
	font-size: 16px;
	font-size: 1rem;
}